/**

 * @file

 * Form Styling

 */





.form-item { /* Wrapper for a form element (or group of form elements) and its label */

  margin: 1.5em 0;

}



.form-item input.error,

.form-item textarea.error,

.form-item select.error { /* Highlight the form elements that caused a form submission error */

  border: 1px solid #c00;

}



.form-item label { /* The label for a form element */

  display: block;

  font-weight: bold;

}



.form-item label.option { /* The label for a radio button or checkbox */

  display: inline;

  font-weight: normal;

}



.form-required { /* The part of the label that indicates a required field */

  color: #c00;

}



.form-item .description { /* The descriptive help text (separate from the label) */

  font-size: 1em;

}



.form-checkboxes .form-item,

.form-radios .form-item { /* Pack groups of checkboxes and radio buttons closer together */

  margin: 0; /* Drupal core uses "0.4em 0" */

}



.form-submit { /* The submit button */

}



.container-inline div,

.container-inline label { /* Inline labels and form divs */

  display: inline;

}



.tips { /* Tips for Drupal's input formats */

}



a.button { /* Buttons used by contrib modules like Media */

  -webkit-appearance: button;

  -moz-appearance: button;

  appearance: button;

}



/*

 * Password confirmation

 */



.password-parent,

.confirm-parent {

  margin: 0;

}



/*

 * Search (search-block-form.tpl.php)

 */

 

#block-search-form { /* Wrapper for the search form */ 

}



#block-search-form .container-inline{ padding-right:0px; left:35px;

height: 31px;

width: 181px;

margin-top: 14px;

position: relative;}

#block-search-form .container-inline .form-text{background: none;

border: none;

padding: 8px 25px 8px 12px;

width: 140px;

margin: 0;

font-family: Georgia, "Times New Roman", Times, serif;

font-style: italic;

font-size: 12px;

color: #9D9D9D;}



#block-search-form .container-inline .form-item-search-block-form{ }



#block-search-form .container-inline .form-submit{position: absolute; background:url(../images/search_botton.png); border:none;

right: 8px;

top: 7px;

width: 15px;

height: 16px;

padding: 0;

margin: 0;

}







.form-item-search-block-form{ padding:0px; margin:0px;}

.form-item-search-block-form input{ padding:0px; margin:0px;}

/*

 * Drupal's default login form block

 */



#user-login-form {

  text-align: left; /* LTR */

}



/*

 * OpenID

 *

 * The default styling for the OpenID login link seems to assume Garland's

 * styling of list items.

 */



#user-login-form ul { /* OpenID creates a new ul above the login form's links. */

  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */

}



html.js #user-login-form li.openid-link,

#user-login-form li.openid-link { /* The "Log in using OpenID" link. */

  margin-top: 1.5em;

  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */

}



#user-login-form li.user-link { /* The "Cancel OpenID login" link. */

  margin-top: 1.5em;

}



#user-login ul {

  margin: 1.5em 0;

}



/*

 * Drupal admin tables

 *

 * We overrode these styles in normalize.css, but restore them for the admin

 * section of the site.

 */



form th {

  text-align: left; /* LTR */

  padding-right: 1em; /* LTR */

  border-bottom: 3px solid #ccc;

}



form tbody {

  border-top: 1px solid #ccc;

}



form tr.even {

  background-color: #fff;

}



form table .item-list ul {

  margin: 0;

}



.lt-ie8 tr.even th,

.lt-ie8 tr.even td,

.lt-ie8 tr.odd th,

.lt-ie8 tr.odd td {

  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */

}



/*

 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.

 */



td.menu-disabled {

  background: #ccc;

}

#search-block-form{margin-top: 15px;}

#search-block-form #edit-search-block-form--2{

border-radius: 2px 0 0 2px;

border: none;

display: block;

font-size: 13px;

height: 20px;

line-height: 20px;

padding: 4px 8px;

background-color: #EEE;

width: 140px;

color: #B3B3B3;outline: none;line-height: normal;

-webkit-appearance: none;}

#search-block-form input {

float: left;

}

#search-block-form .form-submit,

#search-block-form #edit-submit{

background-color: #8CAC52;

border-radius: 0 2px 2px 0;

height: 28px;

color: white;

padding: 0 10px;

border: none;

cursor: pointer;}